<header>
    <h1>{{title}}</h1>

    <a href="/"></a>
    <a href="/create">Create Product</a>
    <a href="/edit">Edit Product</a>
    <a href="/delete">Delete Product</a>
    <a href="/list ">List all Product</a>
</header>