<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Products</p>
    </div>
    
    {{>footer}}
</body>

</html>