<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
    <link rel="stylesheet" href="/css/style.css" >
    
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" >
        <a class="nav-link" href="" style="display:inline;">Shoping cart<span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/" style="display:inline;">Explore<span class="sr-only">(current)</span></a>
        
      </li>
      
      
    </ul>
    
  </div>
</nav>

<main role="main" class="container">
<%- messages('messages', locals) %>
    <% if (errors) {%>
      <% errors.forEach(function(error) {%>
        <div class="alert alert-danger"><%= error.msg %></div>
        <% }); %>
    <% }%>