<header>
    <h1><b>{{title}}</b></h1>

    <a href="/home"> 
        <button>Home</button>
        </a>
    <a href="/create"> 
        <button>Create Product</button>
        </a>
    <a href="/edit"> 
        <button>Edit Product</button>
        </a>
    <a href="/delete"> 
        <button>Delete Product</button>
        </a>
    <a href="/list "> 
        <button>List all Product</button>
        </a>
    <style>
        a {
        cursor: pointer;
        }
    </style>
</header>