<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <form action="/admin/delete-product" method="POST">
        <h1 style="color:#ff2058; text-decoration: underline; margin-top: 3%; " class="grid" >DELETE PRODUCT </h1>
    <div class="form-control " style="width: 20rem;
    max-width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    display: block;">
        <label for="productId">Product Id</label>
        <input 
            type="text" 
            name="productId" 
            id="productId"/>
    </div>
  <button class="btn" style="margin: auto; display: block;">DELETE</button>
</form>
</body>
</html>