<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <!-- <style>
        @media screen and (max-width:1024 px) {
        #addmargin {
        margin-left: 30px;
      }
      .divmargin{
          margin: 2px;
      }
  }
    </style> -->
</head>
<body>
    <h1 id="products">PRODUCTS</h1>
    <div class="col-md-6 row mx-auto"  > 
        <div class="col-6 col-sm-3 col-md-6 p-1 " >
            <a href="/admin/create-product" class="btn">ADD PRODUCT</a>
        </div>   
        <div class="col-6 col-sm-3 col-md-6 p-1 " >
            <a href="/admin/delete-input" class="btn">DELETE PRODUCT</a>
        </div> 
        <div class="col-6 col-sm-3 col-md-6 p-1 " >
            <a href="/admin/edit-product" class="btn">EDIT PRODUCT</a>
        </div> 
        <div class="col-6 col-sm-3 col-md-6 p-1 " >
            <a href="/products" class="btn">SHOW PRODUCTS</a>
        </div> 
    </div>
</div>
</body>
</html>