body {
    color:black;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:whitesmoke;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 2px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 4px;
    text-decoration: none;
}
header{
    border-bottom: 6px soild black;
}
.portrait {
    width: 250px;
}
form{
    border:blue;
    border-radius: 20px;
    padding: 20px 20px;
    border-width: 10px;
}
