<%- include("partials/header"); -%>

<div class="content">
  <div class="home">
          <img class="img1" src="https://i.ya-webdesign.com/images/how-to-create-a-png-4.png" alt="" height="150px">
          <h4>Create Product</h4>
          <p>Create new product by adding product details. Create new product by adding valid product name, image link and a product description. After creating product you will be redirected to a page that will tell that the product is created successfully or not. </p>
          <a class="btn btn-primary btn-lg" href="/create" role="button">Create Product</a>
  </div>
  <div class="home">
          <img class="img2" src="https://i.ya-webdesign.com/images/how-to-edit-a-png-file-6.png" alt="">
          <h4>Edit Product Details</h4>
          <p>Edit your product details by entering a valid ProductId, after that enter new product deltails. If productId id valid then it will redirect to page that will that will tell product is updated successfully otherwise tell product doesn't exits.</p>
          <a class="btn btn-primary btn-lg" href="/edit" role="button">Edit Product</a>
  </div>
  <div class="home">
          <img class="img1" src="https://image.flaticon.com/icons/png/512/61/61848.png" alt="">
          <h4>Delete Product</h4>
          <p>Delete your product by entering a valid ProductId. If productId id valid then it will redirect to page that will that will tell product is deleted successfully otherwise tell product doesn't exits.</p>
          <a class="btn btn-primary btn-lg" href="/delete" role="button">Delete Product</a>
  </div>
  <div class="home">
          <img class="img2" src="https://cdn.onlinewebfonts.com/svg/img_408545.png" alt="" height="150px">
          <h4>Show All Products</h4>
          <p>To get all the product details click the given below button. Product details consist of ProductId, Product Name, Product Image and Product description.</p>
          <a class="btn btn-primary btn-lg" href="/show" role="button">List All Product</a>
  </div>
</div>

<%- include("partials/footer"); -%>
