<%- include("partials/header"); -%>

<div class="content">
<h1><%=result%></h1>
<a class="btn btn-primary btn-lg" href="/" role="button">Back to Home</a>
</div>

<%- include("partials/footer"); -%>
